In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.set_option('display.max_colwidth', None)


def format_numbers(x):
    return '{:,.2f}'.format(x).replace(',', ' ').replace('.', ',')


# Set display option to use the custom formatting function
pd.options.display.float_format = format_numbers

In [3]:
df = pd.read_excel(r"C:\Users\erika\OneDrive - Estudiantes ITCR\Semestre 9\Energias\Tareas\Administración_de_la_Energía.xlsx",
sheet_name = "Desarrollo caso 2" )

## Acomodo de Datos

In [4]:
df

            Dia               Hora   Demanda (KW)  Consumo (KWh)
0    2017-01-01 2017-01-01 00:00:00        419,04         104,76
1    2017-01-01 2017-01-01 00:15:00        423,36         105,84
2    2017-01-01 2017-01-01 00:30:00        451,44         112,86
3    2017-01-01 2017-01-01 00:45:00        444,24         111,06
4    2017-01-01 2017-01-01 01:00:00        288,72          72,18
...         ...                 ...           ...            ...
2971 2017-01-31 2017-01-31 22:45:00        318,24          79,56
2972 2017-01-31 2017-01-31 23:00:00        315,36          78,84
2973 2017-01-31 2017-01-31 23:15:00        311,76          77,94
2974 2017-01-31 2017-01-31 23:30:00        305,28          76,32
2975 2017-01-31 2017-01-31 23:45:00        312,48          78,12

[2976 rows x 4 columns]

In [5]:
df = df.drop("Dia", axis=1)

In [6]:
df.rename(columns= {"Hora " : "Hora"}, inplace=True)

## Division de datos por precio-hora

#### Punta 1001-1230 y 17:31-2000pm

In [7]:
df["Hora"]

0      2017-01-01 00:00:00
1      2017-01-01 00:15:00
2      2017-01-01 00:30:00
3      2017-01-01 00:45:00
4      2017-01-01 01:00:00
               ...
2971   2017-01-31 22:45:00
2972   2017-01-31 23:00:00
2973   2017-01-31 23:15:00
2974   2017-01-31 23:30:00
2975   2017-01-31 23:45:00
Name: Hora, Length: 2976, dtype: datetime64[ns]

In [8]:
#Horas punta

puntoin1 = pd.to_datetime("10:00:15").time()
puntofin1 = pd.to_datetime("12:30:00").time()
puntoin2 = pd.to_datetime("17:45:00").time()
puntofin2 = pd.to_datetime("20:00:00").time()

rangopunta1 = df["Hora"][(df["Hora"].dt.time >= puntoin1)
                         & (df["Hora"].dt.time <= puntofin1)]
rangopunta2 = df["Hora"][(df["Hora"].dt.time >= puntoin2)
                         & (df["Hora"].dt.time <= puntofin2)]

rp1 = rangopunta1.index
rp2 = rangopunta2.index

In [9]:
# Sumar todos los valores de Consumo
conspuntaF=sum(df.loc[rp1, "Consumo (KWh)"]) + sum(df.loc[rp2, "Consumo (KWh)"])
conspuntaF

82166.94

In [10]:
# Encontrar máximo de Demanda
dempuntaF = max(max(df.loc[rp1, "Demanda (KW)"]),max(df.loc[rp2, "Demanda (KW)"]))

dempuntaF

615.6

#### Noche

In [11]:
#Horas puntanoche

nochein1 = pd.to_datetime("20:00:15").time()
nochefin1 = pd.to_datetime("23:45:00").time()
nochein2 = pd.to_datetime("00:00:00").time()
nochefin2 = pd.to_datetime("06:00:00").time()

rangonoche1 = df["Hora"][(df["Hora"].dt.time >= nochein1) & (df["Hora"].dt.time <= nochefin1)]
rangonoche2 = df["Hora"][(df["Hora"].dt.time >= nochein2) & (df["Hora"].dt.time <= nochefin2)]

rn1 = rangonoche1.index
rn2 = rangonoche2.index

In [12]:
# Sumar todos los valores de Consumo
consnocheF=sum(df.loc[rn1, "Consumo (KWh)"]) + sum(df.loc[rn2, "Consumo (KWh)"])
consnocheF

116505.71999999993

In [13]:
# Encontrar máximo de Demanda
demnocheF = max(max(df.loc[rn1, "Demanda (KW)"]),max(df.loc[rn2, "Demanda (KW)"]))
demnocheF

550.8

#### Valle

In [14]:
#Horas Valle

vallein1 = pd.to_datetime("06:00:15").time()
vallefin1 = pd.to_datetime("10:00:00").time()
vallein2 = pd.to_datetime("12:45:00").time()
vallefin2 = pd.to_datetime("17:30:00").time()

rangovalle1 = df["Hora"][(df["Hora"].dt.time >= vallein1) & (df["Hora"].dt.time <= vallefin1)]
rangovalle2 = df["Hora"][(df["Hora"].dt.time >= vallein2) & (df["Hora"].dt.time <= vallefin2)]

rv1 = rangovalle1.index
rv2 = rangovalle2.index

In [15]:
# Sumar todos los valores de Consumo
consvalleF=sum(df.loc[rv1, "Consumo (KWh)"]) + sum(df.loc[rv2, "Consumo (KWh)"])
consvalleF

138784.31999999995

In [16]:
# Encontrar máximo de Demanda
demvalleF = max(max(df.loc[rv1, "Demanda (KW)"]),max(df.loc[rv2, "Demanda (KW)"]))
demvalleF

630.0

### Tabla de Consumo-Demanda

In [17]:
datos = {"Rubro":["Consumo", "Potencia"], "Noche":[consnocheF,demnocheF], 
         "Punta":[conspuntaF,dempuntaF], "Valle":[consvalleF,demvalleF]}

Datos = pd.DataFrame(datos)
%store Datos
Datos

Stored 'Datos' (DataFrame)

      Rubro      Noche     Punta      Valle
0   Consumo 116 505,72 82 166,94 138 784,32
1  Potencia     550,80    615,60     630,00

##### Precios

In [18]:
TMTA = pd.DataFrame({"Consumo" :[66.06,24.54,15.11],
        "Potencia":[10718.78,7483.99,4793.67]})

TMTB = pd.DataFrame({"Consumo" :[119.89,41.19,26.46],
        "Potencia":[3520.96,2457.95,1575.11]})

indice = ['Punta', 'Valle', 'Noche']

TMTA.index = indice
TMTB.index = indice

%store TMTA
%store TMTB

Stored 'TMTA' (DataFrame)
Stored 'TMTB' (DataFrame)

In [19]:
TMTB

       Consumo  Potencia
Punta   119,89  3 520,96
Valle    41,19  2 457,95
Noche    26,46  1 575,11

In [20]:
TMTA # esta bien

       Consumo  Potencia
Punta    66,06 10 718,78
Valle    24,54  7 483,99
Noche    15,11  4 793,67

#### TMTA

In [21]:
# Consumo TMTA
TMTAcons = Datos.Punta[0]*TMTA.Consumo[0]+ Datos.Valle[0]*TMTA.Consumo[1]+ \
            Datos.Noche[0]*TMTA.Consumo[2]
TMTAcons

# Demanda TMTA

TMTApot = Datos.Punta[1]*TMTA.Potencia[0] + Datos.Valle[1]*TMTA.Potencia[1]+ \
            Datos.Noche[1]*TMTA.Potencia[2]

TMTAcons

10594116.698399998

In [22]:
TMTApot

13953748.104000002

In [23]:
basetmta = TMTAcons + TMTApot
basetmta

24547864.8024

#### TMTB

In [24]:
# Consumo TMTB
TMTBcons = Datos.Punta[0]*TMTB.Consumo[0]+ Datos.Valle[0]*TMTB.Consumo[1]+ \
            Datos.Noche[0]*TMTB.Consumo[2]
TMTBcons

# Demanda TMTB

TMTBpot = Datos.Punta[1]*TMTB.Potencia[0] + Datos.Valle[1]*TMTB.Potencia[1]+ \
            Datos.Noche[1]*TMTB.Potencia[2]

TMTBcons

18650261.928599995

In [25]:
TMTBpot

4583582.064

In [26]:
basetmtb = TMTBcons + TMTBpot
basetmtb

23233843.992599994

In [27]:
# Function to format numbers with commas as thousands separators and dots as decimal separators


pd.DataFrame({"MTa consumo":[TMTAcons], "MTa Demanda":[TMTApot],
              "MTb consumo":[TMTBcons], "MTb demanda":[TMTBpot] })

    MTa consumo   MTa Demanda   MTb consumo  MTb demanda
0 10 594 116,70 13 953 748,10 18 650 261,93 4 583 582,06

### Cálculos de decisión

In [28]:
# PRECIO ACTUAL DEL COLON AL DOLAR (16/02/24)
dolarcolon = 516.64

consultores = 8000*dolarcolon
control = 10000*dolarcolon
acreditacion = 4500*dolarcolon

inversion = consultores+control+acreditacion
inversion

11624400.0

##### Tarifas Finales

In [29]:
# TARIFA MTA IVA
Afinal = (TMTAcons+TMTApot) + (0.13*(TMTAcons+TMTApot))
Bfinal = (TMTBcons+TMTBpot) + 0.13*(TMTBcons+TMTBpot)

Diferencia = Afinal - Bfinal
Diferencia

1484843.5150740072

In [30]:
Meses = inversion/Diferencia

In [31]:
# Tabla

Resultados=pd.DataFrame({"Tarifa actual TMTA ":[Afinal], "Costo base TMTB":[Bfinal],
              "Diferencia":[Diferencia],"inversion inicial":[inversion], 
              "Meses para recuperar":[round(Meses,0)]})
Resultados

%store Resultados

Stored 'Resultados' (DataFrame)

### Solución

Se necesitan 8 meses para recuperar la inversión de cambio de el costo de TMT-A al TMT-B.